@model PaginatedList<VehicleManagement.Service.Models.VehicleModel>

@{
    ViewData["Title"] = "Vehicle Models";
}

<h2>Vehicle Models</h2>

<p>
    @using (Html.BeginForm("Index", "VehicleModel", FormMethod.Get))
    {
    <p>
        Find by name: <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" />
        <input type="submit" value="Search" class="btn btn-default" />
    </p>
    }
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    Page @(Model.PageIndex) of @(Model.TotalPages)
    @if (Model.HasPreviousPage)
    {
        @Html.ActionLink("Previous", "Index", new { pageNumber = Model.PageIndex - 1, sortOrder = ViewBag.CurrentSort })
    }
    @if (Model.HasNextPage)
    {
        @Html.ActionLink("Next", "Index", new { pageNumber = Model.PageIndex + 1, sortOrder = ViewBag.CurrentSort })
    }
</div>
