@model IEnumerable<VehicleManagement.Service.ViewModels.VehicleModelViewModel>

<h1>Vehicle Models</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Make</th>
            <th>Abbreviation</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var models in Model)
        {
            <tr>
                <td>@models.Name</td>
                <td>@models.Make.Name</td>
                <td>@models.Abrv</td>
                <td>
                    <a asp-controller="VehicleModel" asp-action="Edit" asp-route-id="@models.Id">Edit</a> |
                    <a asp-controller="VehicleModel" asp-action="Details" asp-route-id="@models.Id">Details</a> |
                    <a asp-controller="VehicleModel" asp-action="Delete" asp-route-id="@models.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-controller="VehicleModel" asp-action="Create">Create New</a>
