@model IEnumerable<VehicleManagement.Service.ViewModels.VehicleMakeViewModel>

<h1>Vehicle Makes</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Abbreviation</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var make in Model)
        {
            <tr>
                <td>@make.Name</td>
                <td>@make.Abrv</td>
                <td>
                    <a asp-controller="VehicleMake" asp-action="Edit" asp-route-id="@make.Id">Edit</a> |
                    <a asp-controller="VehicleMake" asp-action="Details" asp-route-id="@make.Id">Details</a> |
                    <a asp-controller="VehicleMake" asp-action="Delete" asp-route-id="@make.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-controller="VehicleMake" asp-action="Create">Create New</a>